.checkbox_group {
  margin-top: 2rem;
}

.checkbox_group li {
  list-style: none;
}

.checkbox_group input {
  margin-right: 0.5rem;
}

@media (min-width: 900px) {
  .checkbox_group {
    column-count: 5;
  }
}

@media (max-width: 900px) {
  .checkbox_group {
    margin-right: 3rem;
    column-count: 2;
  }
}
