.main {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  font-size: 2rem;
  text-align: center;
  background-color: dodgerblue;
  margin-bottom: 3rem;
  padding: 0.5rem 0;
}

.header h1 {
  margin: 0;
  color: white;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.footer a {
  color: dodgerblue;
}

.chart {
  margin-top: 5rem;
  width: 100%;
}
